@font-face {
    font-family: 'Norse Bold';
    src: url("./fonts/Norse-Bold.otf");
}

body {
    margin: 0;
}

p {
    color:red;
}

h1 {
   background-color: greenyellow;
   font-family: 'Norse Bold';
}

img {
    margin: 0px;
    height: 100vh;
    width: 30vw;
    object-fit: cover;
}