@font-face {
    font-family: 'Norse Bold';
    src: url("./fonts/Norse-Bold.otf");
}

:root {
    --left-width: 33vw;
    --right-width: calc(100 - var(--left-width));
    --fern-green: #596D48;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
}

.container-item-left {
    flex: 1;
    position: relative;
    
}

.container-item-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-text {
    flex: 0;
    width: min(50vw, 700px);
}

.container-item-right > form {
    flex: 0;
}

form {
    width: var(--right-width);
}

.card {
    box-shadow: 0 0 10px 0 #BBBBBB;
}

.logo-container {
    position: absolute;
    top: 20vh;
    width: var(--left-width);
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    color: white;
    bottom: 10px;
    width: var(--left-width);
    text-align: center;
}

h6 {
    color:black;
    font-size: clamp(0.5rem, 4vh, 1.5rem);
    font-weight: 100;
    margin:  8px 12px clamp(0.5rem, 4vh, 1.5rem) 12px;
    /* margin: 0px; */
}

p {
    color:black;
    font-size: clamp(.5rem, 3vh, 1rem);
    margin: 0px 12px; 
}

#logo {
    font-family: 'Norse Bold';
    font-size: 12vh;
    color: white;
    flex: 0 0 20%;
    padding: 8px;
    margin: 0;
}

img[src^="./img/halie"] {
    height: 100vh;
    width: var(--left-width);
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}

img[src^="./img/odin"] {
    height: 15vh;
    width: auto;
    padding: 8px;
    margin: 0;
    flex: 0 0 auto;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

.card {
    display: grid;
    grid-template-columns: auto auto;
}

.input-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.input-group > label {
    font-size: clamp(0.5rem, 3vh, 0.75rem);
    margin-left: 12px;
}

.input-group > input {
    font-size: clamp(.5rem, 4vh, 1rem);
    padding: 2px;
    margin-left: 12px;
    margin-bottom: 12px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;

}

button {
    padding: 12px 32px;
    margin: 18px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--fern-green);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#log-in {
    color: var(--fern-green);
}

input:focus {
    outline: none;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 2px;
    box-shadow: 0px 4px 4px 0px #CCCCCC;
}

input.error, input:invalid {
    outline: none;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 2px;
}
